 body
 {
   background-color:aliceblue;
   max-width: 90%;
   position: relative;
   font-weight: bold;
   color:teal;
 }
 .container
 {
   background-color:rgb(59, 51, 51);
   max-width: 100%;
   margin: auto;
   padding: 30px;
   border: none;
   border-radius: 10px;
   text-align: center;
   position: absolute;
   left: 40%;
   top:30px;
   display: grid;
   box-shadow: 4px 4px black;
                
 }

 .title
 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
  grid-template-columns: auto;
  border-radius: 5px;
}

 #output 
  {
  max-width: 90%;
  grid-template-columns: max-content;
  align-items: center;
  margin: auto;
  padding:5px;
  height: 45px;
  font-family: 'Orbitron', sans-serif;
  font-size:large;
  border: double;
  border-radius: 10px;
  background-color: rgb(245, 245, 240);
  }
  #calculator
  {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 2px ;
    
  }
 .number
 {
  margin: 5px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .number:hover, .equal:hover , .operation:hover, .zero:hover, .reset:hover, .percent:hover , .supprimer:hover{
  margin: 5px;
  padding: auto;
  height: 30px;
  background-color:orange;
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .operation
 {
  margin: 5px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .zero
 {
  margin: px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .equal
 {
  margin: 5px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .reset
 { margin: 5px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .supprimer
 {
  margin: 5px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger; 
 }
 .percent
 {
  margin: 5px;
  padding: auto;
  height: 30px;
  background-color:rgb(192, 180, 163);
  color:rgb(2, 24, 24);
  font-size: larger;  
 }
 
